<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<h1> here are the results for <%= tag %>! you can also 
		<a href='/'> search aga</a>
	</h1>

	<%= pics %>
	
</body>
</html>